{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <!--{{ form.as_p }}-->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sing Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}



<!--
    {{ form.as_p }} прилетевшая из users/views.py где была импортирована:

        from django.contrib.auth.forms import UserCreationForm

        def register(request):
            form = UserCreationForm()
            return render(request, 'users/register.html', context={'form': form})

    UserCreationForm() - Содержит в себе встроенную форму регистрации пользователя с тремя полями ввода данных и
                         подсказками к ним. После рендеринга в шаблон будет вызван метод as_p  {{ form.as_p }} который
                         отобразит их (данные формы регистрации) в тегах <p>.


    <div class="content-section"> - пользовательский класс, находится в CSS-файле, который уже добавили
    static/blog/main.css


    {% csrf_token %} - Подделка межсайтового запроса (CSRF) Промежуточный слой CSRF и шаблонный тег предоставляют
    легкую-в-использовании защиту против Межсайтовой подделки запроса.


    {{ form.as_p }}

        Выходные данные формы не включают окружающие теги <form> или элемент управления отправкой формы.
        Вы должны будете предоставить это сами.

        Есть и другие варианты вывода для пар <label> / <input>:

        {{form.as_table}} отобразит их как ячейки таблицы, обернутые в теги <tr>
        {{form.as_p}} отобразит их в тегах <p>
        {{form.as_ul}} отобразит их в тегах <li>

        https://docs.djangoproject.com/en/2.2/topics/forms/

    -->

